:root {
  // 这里可以设置你自定义的颜色变量
  // 这个是element主要按钮:active的颜色，当主题更改后此变量的值也随之更改
  --el-color-primary: #036fae;
  --el-color-primary-light-3: #0589D6;
  --el-color-primary-light-5: #50ace2;
  --el-color-primary-light-7: #afd9f1;
  --el-color-primary-light-8: #cde7f7;
  --el-color-primary-light-9: #e6f3fa;
  --el-color-primary-dark-2: #337ecc;
  // element plus 2.1.0 禁用文本色值和正常文本色值无法区分问题
  --el-text-color-disabled: #ccc;
  
}